node_modules/
**/node_modules/

.expo/
**/.expo/

.git/
**/.git/

.vscode/
**/.vscode/

android/
ios/

dist/
web-build/
build/
.gradle/

*.apk
*.aab
*.zip
*.rar
*.7z
*.log

npm-debug.*
yarn-debug.*
yarn-error.*

.env
.env.local